.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 30px 20px;
    background-color: #F3E5F5;
    border-radius: 20px;
}

.card-item {
    display: flex;
    flex-direction: column;
    width: 240px;
    padding: 10px;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    transition: transform 0.3s;

    img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}

.card-details {
    padding: 12px;

    h2 {
        font-size: 1.5rem;
        margin: 0 0 8px;
        text-align: center;
    }
}