.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #F3E5F5;
}

.card-item {
    display: flex;
    flex-direction: column;
    width: 20vw;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;

    img {
        max-width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}

.card-details {
    padding: 12px;

    h2 {
        font-size: 1.5rem;
        margin: 0 0 8px;
    }

    a {
        display: inline-block;
        margin-right: 8px;
        color: #007bff;
        text-decoration: none;

        &a:hover {
            text-decoration: underline;
        }
    }
}