@import "cards.scss";

html {
    font-size: 14px;
    color: #291720;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

nav {
    background-color: #F3E5F5 !important;
    border-color: #E1BEE7;
    border-bottom: 4px solid #E1BEE7;
}

.btn-container {
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(minmax(200px, 1fr));
    gap: 30px;
    justify-content: center;
    align-items: center;

    .btn {
        font-size: 1.4rem;
    }
}

.user-container {
    display: flex;
    align-items: center;

    .user-name {
        font-weight: bold;
        opacity: 0.8;
        margin-right: 10px;
    }

    .user-btn {
        border: 2px solid #E1BEE7;
        border-radius: 20px !important;
        background-color: #E1BEE7 !important;

        i {
            opacity: 0.8;
        }
    }
}